.testimonial-section-outler {
  background: #598d8d1e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 50px;
  background-image:
    linear-gradient(rgba(116, 143, 143, 0.118), rgba(255, 255, 255, 0.3)),
    url("https://i.pinimg.com/736x/7f/05/15/7f05159013ef1e18c05f7679c7c8bc18.jpg");
  background-size: 300px;
  background-repeat: repeat;
}
.testimonial-section {
  max-width: 1600px;
}

/* HEADER */
.testimonial-header {
  text-align: center;
  margin-bottom: 60px;
}

.testimonial-header h2 {
  font-size: 42px;
  font-weight: 800;
  color: black;
}

.testimonial-header h2 span {
  color: #2a9b96;
}

.testimonial-header p {
  margin-top: 10px;
  color: #000000;
  font-size: 18px;
}

/* CONTAINER */
.testimonial-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* TESTIMONIAL BOX */
.testimonial {
  padding: 30px;

  border-radius: 18px;

  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(42, 155, 150, 0.15);

  position: relative;

  transition: all 0.35s ease;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* BIG QUOTE SYMBOL */
.testimonial::before {
  content: "“";
  position: absolute;
  top: 10px;
  left: 15px;

  font-size: 80px;
  color: rgba(42, 155, 150, 0.1);

  font-weight: 900;
}

/* MESSAGE */
.message {
  font-size: 20px;
  line-height: 1.7;
  color: #444;

  margin-bottom: 20px;
}

/* NAME */
.name {
  font-size: 14px;
  font-weight: 700;
  color: #2a9b96;
}

/* HOVER EFFECT */
.testimonial:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(42, 155, 150, 0.15);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .testimonial-section-outler {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
  }

  .testimonial-container {
    margin-left: 5%;
    width: 90%;
    grid-template-columns: 1fr;
  }

  .testimonial-header h2 {
    font-size: 30px;
  }
  .message {
    font-size: 18px;
    line-height: 1.5;
  }
}
